{% extends 'base.html' %}
{% comment %} {% extends '../../../templates/base.html' %} HAND CODE WAY{% endcomment %}

{% block page_title %}All Challenges{% endblock %}

{% block content %}
  {% include './includes/header.html' %}
  <ul>
    {% for month in months %}
      {% comment %} <li><a href="/challenges/{{ month }}">{{ month|title }}</li> HARD CODE WAY {% endcomment %}
      <li><a href="{% url 'month-challenges' month=month %}">{{ month|title }}</li>
    {% endfor %}
  </ul>
{% endblock %}

